/* Start Global Rules*/

/* resets*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------- 

************ End resets
--------------*/


:root {
  --main-color: #FF385C;
  --text-color1: #222222;
  --text-color2: #757575;
  --icon-color: #7c7c7c --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;




  /**
        * Typographique
    */

  /* Font family*/


  /* Font size*/
  --fontSize-1: 4rem;
  --fontSize-2: 3.2rem;
  --fontSize-3: 2.4rem;
  --fontSize-4: 2rem;
  --fontSize-5: 1.8rem;
  --fontSize-6: 1.6rem;
  --fontSize-7: 1.4rem;
  --fontSize-8: 1rem;
  --fontSize-9: 0.8rem;

  /* Font weight*/
  --weight-Light: 300;
  --weight-Regular: 500;
  --weight-SemiBold: 600;
  --weight-Bold: 700;
  --weight-ExtratBold: 900;
}

/* Font family*/

@font-face {
  font-family: "font";
  src: url(/webfonts/Roboto-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "font";

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small*/
@media (min-width:768px) {
  .container {
    width: 750px;
  }

}

/* Medium*/

@media (min-width:992px) {
  .container {
    width: 970px;
  }

}

/* Large*/


@media (min-width:1200px) {
  .container {
    width: 1170px;
  }

}

header {
  padding: 0 25px;;
  height: 80px;
 
  
}

header .header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

}

header .header-top .logo {
 width: 150px;

}

header .header-top .search {
  display: flex;
  background-color: #f7afaf;

}header .header-top .search {
  display: flex;
  background-color: #f7afaf;

}

header .header-top .accounts {
  display: flex;
  background-color: #c2baba;

}

header .header-top .search {
  display: flex;
  background-color: #9c8787;

}

header .header-top .search {
  display: flex;
  justify-content: start;
  background-color: #c3e7f1;

}

header .header-top .add-account {
  display: flex;
  background-color: #debcfa;

}







/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Header ******************


--------------*/








/*-------------------------- 

************ End Header
--------------*/
















/*-------------------------- 

************ Start Animation ******************


--------------*/



/* Start Animation */
@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}




/*-------------------------- 

************ End Animation
--------------*/